= simple_form_for(@import, :url => import_super_admin_curriculums_path, :remote => true,
                  :html => { :multipart => true, 
                             :class => 'import-form form-horizontal' }, :validate => true) do |f|
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h4= t("curriculum.import_title")
  .modal-body
    .form-inputs
      = f.input :curriculum_core_name, :as => :select, :collection => CurriculumCore.order(:name),
                :input_html => {:class => "editable-combobox"},
                :include_blank => false,
                :label => t("curriculum.core")
      = f.input :import_file, :as => :file, :required => true, :label => t("common.select_import_file")
  .modal-footer
    .submit-indicator.loading.hide
    %input.btn{:value => t("common.cancel"), :type => "button", "aria-hidden" => "true", 
              "data-dismiss" => "modal", :class => "close-dialog"}
    = f.submit t("common.import"), :id => "import-submit", :class => "btn btn-primary", :disable_with => t("common.saving")
