- content_for(:page_title) do
  = t("curriculum.title")

.super-admin.curriculum
  .toolbar
    = link_to t("curriculum.add"), new_super_admin_curriculum_path, :class => "btn"
    = link_to t("user.title"), super_admin_schools_path

  .table-container
    %table.table.table-striped.curriculums
      %thead
        %tr
          %th.core= t("curriculum.core")
          %th.subject= t("curriculum.subject")
          %th.grade= t("curriculum.grade")
          %th.area= t("curriculum.area")
          %th.standard= t("curriculum.standard")
          %th.description= t("curriculum.description")
          %th.actions
      %tbody
    = render_pagination @curriculums
