.header.well
  .text-head= "Hello #{resource.try(:full_name)}!"
  .text-head
    You're invited to Teacher Management. Please change your password.

- sharing = @sharing || StudentSharing.new

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "sign-up form-horizontal"}) do |f|
  - if notification = f.error_notification
    .alert.alert-error.fade.in
      %a{:class => "close", 'data-dismiss' => "alert", :href => "#"} &times;
      = notification
  .form-inputs
    = hidden_field_tag :user_token, @sharing.confirm_token
    = f.input :first_name, :disabled => true, :required => true, :autofocus => true, :input_html => {:value => sharing.first_name}
    = f.hidden_field :first_name, :value => sharing.first_name
    = f.input :last_name, :disabled => true, :required => true, :input_html => {:value => sharing.last_name}
    = f.hidden_field :last_name, :value => sharing.last_name
    = f.input :email, :disabled => true, :required => true, :input_html => {:value => sharing.email}
    = f.hidden_field :email, :value => sharing.email
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true
    = f.input :phone
    = f.input :classroom
  .form-actions
    = f.button :submit, "Create Account", :class =>  "btn btn-primary"
