!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      Hi, #{@user.full_name}
    %p
      - if @user.is_admin_school?
        You are admin at 
        = @user.school.name 
        school.
      - else 
        You joined at 
        = @user.school.name 
        school.
      %br
      To login to the site, just follow this link:
      = link_to(@url, @url)
      %br 
      With your info:
      %br
      Email: 
      = @user.email 
      %br
      Password: 
      = @password
    %p Thanks for joining and have a great day!
