!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1= t("mail.hi", :name => @user.full_name)
    %p
      - if @user.is_blocked
        = t("mail.user.blocked_inform")
      - else
        = t("mail.user.reinstated_inform")
        %br
        = t("mail.user.login_instruction")
        = link_to(@url, @url)
     
    %p= t("mail.regard_end")
