!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p= t("mail.hi", :name => @sharing.full_name)
    %p
      = t("mail.user.invited_inform")
      %b= @sharing.student.full_name
      ,
      = t("mail.user.invited_email_info", :email => @sharing.email)
      %br/
    %p
      - if @existed
        = t("mail.user.login_instruction")
        = link_to(@url, @url)
      - else 
        = t("mail.user.invited_confirm")
        - confirm_url = "#{@url}?user_token=#{@sharing.confirm_token}"
        = link_to(confirm_url, confirm_url)
    %p= t("mail.user.invited_end")
