!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p= t("mail.hi", :name => @user.full_name)
    %p
      = t("mail.user.reset_password_info") 
      = @password
    %p
      = t("mail.user.login_instruction")
      = link_to(@url, @url)
      
    %p= t("mail.regard_end")
