= simple_form_for([:super_admin, @user], :html => {:class => "user-form form-horizontal"}) do |f|
  = f.error_notification
  .form-actions
    %center
      = link_to "Cancel", :back, :class => "btn"
      - if f.object.new_record?
        = f.button :submit, :value => "Create User"
      - else
        = f.button :submit, :value => "Save"
  - rand_pass = rand(1234567)
  .form-inputs
    .title School Info
    .school-info
      = f.input :school_id, :collection => School.order(:name), :label => "School Name", :prompt => "Select One"
    .title Admin Info
    .school-info
      = f.input :first_name, :input_html => {:class => "valid_name"}
      = f.input :last_name, :input_html => {:class => "valid_name"}
      = f.input :role_id, :collection => @roles, :prompt => "Select One", :input_html => {:value => f.object.new_record? ? "" : @user.role.name}
      = f.input :email, :input_html => {:class => "valid_email"}
      = f.input :password, :as => :hidden, :input_html => {:value => rand_pass}
      = f.input :password_confirmation, :as => :hidden, :input_html => {:value => rand_pass}
      = f.input :temp_pass, :as => :hidden, :input_html => {:value => rand_pass}
      = f.input :phone, :input_html => {:class => "valid_number"}
      = f.input :notes, :input_html => {:rows => "5", :class => "width-area"}
      
- unless @user.new_record?
  .account
    .title Account 
    .reset_password
      = link_to "Reset Password", reset_password_super_admin_user_path(@user), :data => {:confirm => "Do you want to reset your password?"}, :method => :put, :remote => true
      %p This will send a reset password email to the user.
    .blocked
      = hidden_field_tag "check_locked", @user.is_locked
      - mgs = ""
      - if @user.is_locked
        - mgs = "Do you want to unlock this user? Are you sure?"
      - else
        - mgs = "Do you want to lock this user? Are you sure?"
      = link_to check_box_tag("is_locked", 1, 1), blocked_account_super_admin_user_path(@user)+"?is_locked="+(!@user.is_locked).to_s, :data => { :confirm => mgs }, :method => :put, :remote => true, :title => "Block Account" 
      
      %span.ckb-label Block Account
      %p.text-block User will be locked out of their account until reinstated.
