= simple_form_for([:super_admin, @user], :html => {:class => "user-form form-horizontal"}) do |f|
  = f.error_notification
  .form-actions
    %center
      = link_to "Cancel", :back, :class => "btn"
      - if f.object.new_record?
        = f.button :submit, :value => "Create User"
      - else
        = f.button :submit, :value => "Save"
  - rand_pass = rand(1234567)
  .form-inputs
    .title School Info
    .school-info
      = f.input :school_id, :collection => School.order(:name), :label => "School Name", :prompt => "Select One"
    .title Admin Info
    .school-info
      = f.input :first_name, :input_html => {:class => "valid_name"}
      = f.input :last_name, :input_html => {:class => "valid_name"}
      = f.input :role_id, :collection => @roles, :prompt => "Select One"
      = f.input :email, :input_html => {:class => "valid_email"}
      = f.input :password, :as => :hidden, :input_html => {:value => rand_pass}
      = f.input :password_confirmation, :as => :hidden, :input_html => {:value => rand_pass}
      = f.input :temp_pass, :as => :hidden, :input_html => {:value => rand_pass}
      = f.input :phone, :input_html => {:class => "valid_number"}
      = f.input :notes, :input_html => {:rows => "5", :class => "width-area"}
      
