= render '/shared/search_box', :action => "search_result", :placeholder => "Enter the term search"
%div{:style=>"margin-top: 10px;"}
  %b 
    Search results for:
    = params[:query]
  %p
    = select_tag "users_search", options_for_select(User::TYPES_SEARCH.invert, :selected=>params[:search_type].to_i)

%table.table.table-striped.schools
  %thead
    %tr
      %th Name
      %th School
      %th Role

  %tbody
    - @users.each do |user|
      %tr 
        %td= highlight(user.full_name, params[:query]) rescue ""
        %td= highlight(truncate(user.school.name, :length => 17, :separator => " "), params[:query]) rescue ""
        %td= highlight(user.role.name, params[:query]) rescue ""
        
= render_pagination @users
