#export-dialog.modal.hide.fade{:tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3= t("common.export")
  = form_tag('/export/relay', :method => :get) do
    .modal-body
      %table
        %tr
          %td{:valign => 'top'}
            = label_tag t("export.export_data")
          %td
            .checkbox-group
              = radio_button_tag "data", "individual", true, :class => "export_data_selector"
              = label_tag :data_individual, t("export.individual_student")
            .clearfix
            .checkbox-group
              = radio_button_tag "data", "classroom", false, :class => "export_data_selector"
              = label_tag :data_classroom, t("export.classroom")
            .clearfix
            .checkbox-group
              = radio_button_tag "data", "school", false, :class => "export_data_selector"
              = label_tag :data_school, t("export.school")
              = hidden_field_tag "admin_id", @admin.id
        %tr
          %td
            Teacher
          %td
            = select_tag("teacher_selection", options_for_select(@all_teachers_collection), {'data-url' => get_students_admin_teachers_path(:admin_id => @admin.id), :name => :user_id})
        %tr
          %td
            Student
          %td
            = select_tag("student_selection", options_from_collection_for_select(@all_teachers[0].accessible_students, "id", "full_name"), :name => :student_id)
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"}= t("common.cancel")
      %button.btn.btn-primary= t("common.export")
