#export-dialog.modal.hide.fade{:tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Export Status
  .modal-body
    %table
      %tr
        %td
          = label_tag "Export data for"
        %td
          = radio_button_tag "data", "individual", true
          Individual Student
      %tr
        %td
        %td
          = radio_button_tag "data", "classroom"
          Classroom
      %tr
        %td
        %td
          = radio_button_tag "data", "school"
          School
      %tr
        %td
          Teacher
        %td
          = select_tag("teacher_selection", options_from_collection_for_select(@all_teachers, "id", "full_name"), {'data-url' => get_students_admin_teachers_path})
      %tr
        %td
          Student
        %td
          = select_tag("student_selection", options_from_collection_for_select(teachers[0].students, "id", "full_name"))
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
    %button.btn.btn-primary.not-implemented Export
