#teacher-dialog.modal.hide.fade{:tabindex => "-1"}
  - if !teacher.new_record?
    - url = "admin/teachers/#{teacher.id}"
    - method = "PUT"
  - else
    - url = admin_teachers_path(:teacher_id => teacher) 
    - method = "POST"

  = hidden_field_tag "method", method
  = simple_form_for(teacher, :url => url,  
        :html => { :id => 'teacher-form', :class => 'form-horizontal teacher-form' }) do |f|
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      %h4 Add a Teacher
    .modal-body
      - if notification = f.error_notification
        .alert.alert-error.fade.in
          %a{:class => "close", 'data-dismiss' => "alert", :href => "#"} &times;
          = notification

      = f.input :first_name
      = f.input :last_name
      = f.input :email, :required => true
      = f.input(:classroom, :label => "Classroom (opt)", :required => false)
      = f.input(:phone, :label => "Phone (opt)", :required => false)
      = f.input :school_id, :as => :hidden, :input_html => {:value => current_user.school.nil? ? 0 : current_user.school.id }
            
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal", :class => "close-dialog"} Cancel
      = f.submit "Save", :id => "btn-save-teacher", :class => "btn btn-primary", :disable_with => "Saving..."
