#teacher-dialog.modal.hide.fade{:tabindex => "-1", "data-backdrop" => "static"}
  - if teacher.new_record?
    - url = admin_teachers_path(:teacher_id => teacher) 
    - method = "POST"
  - else
    - url = "/admin/teachers/#{teacher.id}"
    - method = "PUT"

  = simple_form_for(teacher, :url => url, :method => method, :remote => true,
        :html => { :class => 'form-horizontal teacher-form' }) do |f|
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      - if teacher.new_record?
        %h4= t("admin.teacher.add")
      - else
        %h4= t("admin.teacher.edit")
    .modal-body
      - if notification = f.error_notification
        .alert.alert-error.fade.in
          %a{:class => "close", 'data-dismiss' => "alert", :href => "#"} &times;
          = notification

      = f.input :first_name
      = f.input :last_name
      = f.input :email, :required => true
      = f.input(:classroom, :label => t("admin.teacher.classroom"), :required => false)
      = f.input(:phone, :as => :string, :label => t("admin.teacher.phone"), :required => false)
      = hidden_field_tag "user_id", @teacher.id if @teacher
      = hidden_field_tag "admin_id", @admin.id
    .modal-footer
      %input.btn{:value => t("common.cancel"), :type => "button", "aria-hidden" => "true", 
                  "data-dismiss" => "modal", :class => "close-dialog"}
      = f.submit t("common.save"), :id => "btn-save-teacher", :class => "btn btn-primary", :disable_with => t("common.saving")
