#teacher-dialog.modal.hide.fade{:tabindex => "-1", "data-backdrop" => "static"}
  - if teacher.new_record?
    - url = admin_teachers_path(:teacher_id => teacher) 
    - method = "POST"
  - else
    - url = "admin/teachers/#{teacher.id}"
    - method = "PUT"

  = hidden_field_tag "method", method
  = simple_form_for(teacher, :url => url,  
        :html => { :id => 'teacher-form', :class => 'form-horizontal teacher-form' }) do |f|
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      - if teacher.new_record?
        %h4 Add a Teacher
      - else
        %h4 Edit Teacher
    .modal-body
      - if notification = f.error_notification
        .alert.alert-error.fade.in
          %a{:class => "close", 'data-dismiss' => "alert", :href => "#"} &times;
          = notification

      = f.input :first_name
      = f.input :last_name
      = f.input :email, :required => true
      = f.input(:classroom, :label => "Classroom (opt)", :required => false)
      = f.input(:phone, :as => :string, :label => "Phone (opt)", :required => false)
      = hidden_field_tag "user_id", params[:user_id]
    .modal-footer
      %input.btn{:value => "Cancel", :type => "button", "aria-hidden" => "true", "data-dismiss" => "modal", :class => "close-dialog"}
      = f.submit "Save", :id => "btn-save-teacher", :class => "btn btn-primary", :disable_with => "Saving..."
