- students ||= []
- students.each do |student|
  - student_home_url = url_for(:controller => "admin/students", :action => "show", :id => student.id)
  .student-container.clearfix.link{:href => student_home_url}
    .avatar-container.well
      %a{:href => student_home_url, :title => student.full_name}
        = image_tag(student.photo_url, :alt => student.full_name, :class => "student-avatar")

    .info.well
      %strong.name
        - student_url = url_for(:controller => "admin/students", :action => "show", :id => student.id)
        = link_to(student.full_name, student_home_url)

      .birthday
        %span= "Born on:"
        %span= student.birthday_string
      .gender
        %span= "Gender:"
        %span= student.gender_string
      .goal
        %span= "Goals:"
        - if student.goals.length <= 0
          %span= "no goal"
        - else
          %span= student.goals.length
              
      .teachers-container
        %a{:href => "#student-teachers-#{student.id}", :class => "icon-plus student-teacher-handler"}
          = "Teachers"
        .teacher-student.hide.clearfix{:id => "student-teachers-#{student.id}"}
          - teachers = student.shared_teachers + [student.teacher]
          - teachers.each do |teacher|
            = link_to admin_teacher_path(teacher), :title => teacher.full_name, :rel => "tooltip", :class => "teacher-link" do 
              = image_tag(teacher.photo_url, 
                  :alt => teacher.full_name,
                  :class => "teacher-avatar", 
                  :id => "student-teacher-#{student.id}-#{teacher.id}")

.clearfix
- pagination_params ||= {}
= render_pagination(students, {:type => 'student', :current_page => @current_page}, pagination_params)
.loading.hide
