- teachers ||= []
- with_pagination = ((with_pagination.nil? ? true : with_pagination) rescue true)
- row_size ||= 1
- on_search = (params[:action] == "search")

#pagination-listitem  
  - teachers.each_with_index do |teacher, idx|
    - students = teacher.accessible_students
    - teacher_home_url = students_path(:user_id => teacher.id, :admin_id => @admin.id)
    .teacher-container.hoverable.pull-left.clearfix.link{:href => teacher_home_url}
      .avatar-container.thumbnail
        %a{:href => teacher_home_url, :title => teacher.full_name}
          = image_tag(teacher.photo_url, :alt => teacher.full_name, :class => "teacher-avatar")

      .info.well
        %strong.name
          = link_to(teacher.full_name, teacher_home_url)

        .classroom= teacher.short_classroom
        = render("students_container", :students => students, :teacher => teacher)
                         
      - unless on_search
        .track-indicator-container
          - is_track = teacher.check_on_track?
          - if is_track == 1
            .track-indicator{:class => "on-track", :title => t("common.on_track")}
          - elsif is_track == 2
            .track-indicator{:title => t("common.not_on_track")}
      .clearfix
    - unless on_search
      - if (idx + 1) % 4 == 0
        .clearfix
    - else 
      - if (idx + 1) % row_size == 0
        .clearfix
- if with_pagination
  .clearfix
  .pagination-container
    - pagination_params ||= {}
    = render_pagination(teachers, {:type => 'teacher', :current_page => @current_page}, pagination_params)
    .loading.hide
