- with_pagination = ((with_pagination.nil? ? true : with_pagination) rescue true)

#pagination-listitem
  - @students.each_with_index do |student, idx|
    - student_home_url = admin_student_path(student)
    .student-container.pull-left.clearfix.link{:href => student_home_url}
      .avatar-container.thumbnail
        %a{:href => student_home_url}
          - unless student.photo_url.blank?
            = image_tag(student.photo_url, :class => "student-avatar")
          - else
            .default-avatar

      .info.well
        %strong.name
          = link_to(student.full_name, student_home_url)

        .birthday
          %span= "Born on:"
          %span= student.birthday_string
        .gender
          %span= "Gender:"
          %span= student.gender_string
        .goal
          %span= "Goals:"
          - if student.goals.length <= 0
            %span= "no goal"
          - else
            %span= student.goals.length
            
      .track-indicator-container{:style => "left: 220px; top: -55px"}
        - status = student.check_on_track? 
        - if status == 1
          .track-indicator.pull-left{:class => "on-track", :title => "On-track"}
        - elsif status == 2
          .track-indicator.pull-left{:title => "Not on-track"}
    - if (idx + 1) % 4 == 0
      .clearfix

  - if with_pagination
    .clearfix
    = render_pagination(@students, {:current_page => @current_page})
    .loading.hide
