- content_for :head do
  = javascript_include_tag('app/admin/teacher.js')

.admin.teacher
  %h3.school-name= current_user.school.try(:name)
  .clearfix.toolbar
    - unless @series.empty?
      = link_to "View chart", admin_teachers_path,  :class => "brown font18"
    - else 
      = link_to "Back", admin_teachers_path,  :class => "brown font18"
    - unless @teachers.blank?
      = render 'shared/search_box', :action => "/admin/teachers/search", :placeholder => "Search name"

  - unless @teachers.blank?
    = render('teachers_list', :teachers => @teachers, :with_pagination => false)
