- content_for :js do
  = javascript_include_tag('app/admin/teacher.js')
  = javascript_include_tag('app/students.js')

.admin.teacher
  %h3.school-name= current_user.school.try(:name)
  .clearfix.toolbar
    = link_to(t("admin.teacher.home"), admin_teachers_path(:admin_id => @admin.id), 
              :class => "brown font18")
    - unless @teachers.blank?
      = render 'shared/search_box', :action => "/admin/teachers/search", :placeholder => t("common.search_place_holder")

  - unless @teachers.blank?
    = render('teachers_list', :teachers => @teachers, :with_pagination => false)
