.admin.teacher
  .show-student  
    .clearfix.toolbar
      = link_to "All Teachers", admin_teachers_path, :class => "brown font18"
      = render 'shared/search_box', :action => "/admin/teachers/search", :placeholder => "Search name"

    = render('teacher_box')
            
  .clearfix.toolbar
    = link_to "View chart", admin_teacher_path(@teacher),  :class => "brown font18"
  - unless @students.blank?
    = render('teacher_students_list', :with_pagination => false)
