- content_for :head do
  = javascript_include_tag('app/admin/teacher.js')
  = javascript_include_tag('app/students.js')

.admin.teacher
  %h3.school-name= @user.school.try(:name)
  .clearfix.toolbar
    - if @all_teachers.count > @teachers.count
      = link_to "View all teachers", all_admin_teachers_path,  :class => "brown font18"
    - unless @teachers.blank?
      = render 'shared/search_box', :action => "/admin/teachers/search", :placeholder => "Search name"
  .clearfix.toolbar
    = link_to 'Add Teacher', new_admin_teacher_path, :class => 'btn', :id => "add-teacher", :remote => true

  - if params[:page_id].blank?
    - teacher = @user
    - students = teacher.accessible_students
    - student_count = students.length
    - showed_student_num = 4
    - if student_count > 0
      .teacher-container.clearfix
        - teacher_home_url = students_path(:user_id => teacher.id)
        .avatar-container.well
          %a{:href => teacher_home_url, :title => teacher.full_name}
            = image_tag(teacher.photo_url, :alt => teacher.full_name, :class => "teacher-avatar")

        .info.well.link{:href => teacher_home_url}
          %strong.name
            = link_to(teacher.full_name, teacher_home_url)

          .classroom= teacher.classroom
          .students-container            
            - if student_count > 0
              %a{:href=>"#teacher-students-#{teacher.id}", :class => "icon-plus teacher-student-handler"}
                = pluralize(student_count, 'Student')
              .teacher-student.hide.clearfix{:id => "teacher-students-#{teacher.id}"}
                - students.take(showed_student_num).each do |student|
                  = link_to student_path(student, :related => true, :user_id => teacher.id), :title => student.full_name, :rel => "tooltip", :class => "student-link" do 
                    = image_tag(student.photo_url, 
                        :alt => student.full_name,
                        :class => "student-avatar", 
                        :id => "teacher-student-#{teacher.id}-#{student.id}")
                - if student_count > showed_student_num
                  = link_to("More...", all_students_admin_teacher_path(teacher), :class => "pull-right")
  - unless @teachers.blank?
    #pagination_area
      = render('teachers_list', :teachers => @teachers)

  .clearfix
    .pull-right
      - unless @teachers.blank?
        = link_to "Export", "#", :id => "export-button", :class => "btn export", "data-toggle" => "modal"

  %center.clearfix
    %iframe{:frameborder => "0", :height => @height, :src => "/charts/user_chart?user_id=#{@user.id}", :width => @width, :id => "chart_student"}
  #new-form-teacher

  - unless @teachers.blank?
    = render("export", :teachers => @teachers)
