.admin.teacher
  %h3.school-name= current_user.school_name
  = link_to 'Add Teacher', new_admin_teacher_path, :class => 'btn', :id => "add-teacher"

  - unless @teachers.blank?
    = render('search_box')
    = render('teachers_list', :teachers => @teachers)
    
  = render('form')

