- content_for :js do
  = javascript_include_tag('app/admin/teacher.js')
  = javascript_include_tag('app/students.js')

.admin.teacher
  %h3.school-name= @admin.school.try(:name)
  .clearfix.toolbar
    - if @all_teachers_count > @teachers.length
      = link_to("All teachers", all_admin_teachers_path(:admin_id => @admin.id), 
                :class => "brown font18")
    - unless @teachers.blank?
      = render 'shared/search_box', :action => "/admin/teachers/search", :placeholder => t("common.search_place_holder")
  .clearfix.toolbar
    = link_to(t("admin.teacher.add"), new_admin_teacher_path(:admin_id => @admin.id), 
              :class => 'btn', :id => "add-teacher", :remote => true)

  
  - unless @teachers.blank?
    #pagination_area
      = render('teachers_list', :teachers => @teachers)

  .clearfix
    .pull-right
      - unless @teachers.blank?
        = link_to t("common.export"), "#", :id => "export-button", :class => "btn export", "data-toggle" => "modal"

  %center.clearfix
    %iframe{:frameborder => "0", :width => @width, :height => @height, 
            :src => "/charts/user_chart?user_id=#{@admin.id}", :id => "chart_student"}
  #new-form-teacher

  - unless @teachers.blank?
    = render("export", :teachers => @teachers)
