- content_for :js do
  = javascript_include_tag('app/admin/teacher.js')
  = javascript_include_tag('app/students.js')
  
.admin.teacher.search
  %h3.school-name= current_user.school.try(:name)
  .search-header.clearfix
    %h4.search-title= "Search result for: #{params[:query]}"
    = render 'shared/search_box', :action => "/admin/teachers/search", :placeholder => "Search name"

  .teachers-result.result-container
    - unless @teachers.blank?
      %h5= "Teachers"
      #teachers-list
        = render('teachers_list', :teachers => @teachers, 
                  :pagination_params => {:inner_window  => 2, :outer_window => 1})

  .students-result.result-container
    - unless @students.blank?
      %h5= "Students"
      #students-list
        = render('shared/students/list', :students => @students, 
                  :pagination_params => {:inner_window  => 2, :outer_window => 1})
