.admin.teacher
  .show-student  
    .clearfix.toolbar
      = link_to "All Teachers", admin_teachers_path, :class => "brown font18"
      = render 'shared/search_box', :action => "/admin/teachers/search", :placeholder => "Search name"

    = render('teacher_box')

    .clearfix.toolbar
      = link_to "All #{@teacher.full_name}'s Students", all_students_students_path(:user_id => @teacher), :class => "brown font18"
      = link_to 'Add Student', new_student_path(:user_id => @teacher.id, :back_link => "/admin/teachers/#{@teacher.id}"), :class => "btn pull-right"

  .teacher.clearfix.toolbar
    - unless @students.blank?
      #pagination_area
        = render(:partial => 'shared/students/list', :students => @students, :user => @teacher)

  %div.pull-right
    = link_to "Export", "#", :id => "export-button", :class => "btn export", "data-toggle" => "modal"
  %center.clearfix
    %iframe{:frameborder => "0", :height => @height, :src => "/charts/user_chart?user_id=#{@teacher.id}", :width => @width, :id => "chart_student"}

= render("export_students", :students => @teacher.accessible_students)

/ Add student: admin/students/new
