.admin.teacher
  - if current_user.is_super_admin?
    %div.box-view-as
      Now viewing as 
      %b= @teacher.full_name + ", "
      %b= @teacher.role.name + " at "
      %b= @teacher.school.name + "."
      %br
      = link_to "Back to viewing as SuperAdmin.", super_admin_path
  - else 
    .show-student  
      .clearfix.toolbar
        = link_to "All Teachers", admin_teachers_path, :class => "brown font18"
        = render('search_box')

      = render('teacher_box')

    .clearfix.toolbar
      = link_to "All #{@teacher.full_name}'s Students", all_students_admin_teacher_path(@teacher), :class => "brown font18"
      = link_to 'Add Student', new_admin_student_path(:teacher => @teacher.id, :back_link => "/admin/teachers/#{@teacher.id}"), :class => "btn pull-right"

  .teacher.clearfix.toolbar
    - unless @students.blank?
      #pagination_area
        = render(:partial => 'teacher_students_list')

  %div.pull-right
    = link_to "Export", "#", :id => "export-button", :class => "btn export", "data-toggle" => "modal"
  %center.clearfix
    - page = params[:page_id] || 1
    %iframe{:frameborder => "0", :height => @height, :src => "/admin/teachers/show_charts?page_id="+page.to_s, :width => @width, :id => "chart_student"}

/ Add student: admin/students/new
