.admin.teacher
  - if current_user.is_super_admin?
    = render "shared/teachers/view_as_box", :user => @teacher 
  - else 
    .show-student  
      .clearfix.toolbar
        = link_to "All Teachers", admin_teachers_path, :class => "brown font18"
        = render 'shared/search_box', :action => "/admin/teachers/search", :placeholder => "Search name"

      = render('teacher_box')

    .clearfix.toolbar
      = link_to "All #{@teacher.full_name}'s Students", all_students_admin_teacher_path(@teacher), :class => "brown font18"
      = link_to 'Add Student', new_admin_student_path(:teacher => @teacher.id, :back_link => "/admin/teachers/#{@teacher.id}"), :class => "btn pull-right"

  .teacher.clearfix.toolbar
    - unless @students.blank?
      #pagination_area
        = render(:partial => 'teacher_students_list')

  %div.pull-right
    = link_to "Export", "#", :id => "export-button", :class => "btn export", "data-toggle" => "modal"
  %center.clearfix
    %iframe{:frameborder => "0", :height => @height, :src => "/charts/user_chart?user_id=#{@teacher.id}", :width => @width, :id => "chart_student"}

= render("export_students", :students => @teacher.accessible_students)

/ Add student: admin/students/new
