.show-student
  = link_to "All Teachers", admin_teachers_path
  .student-container.border-teacher.align-border-single.clearfix
    .avatar-container.well
      - unless @teacher.photo_url.blank?
        = image_tag(@teacher.photo_url, :class => "default-avatar-teacher")
      - else
        .default-avatar-teacher
    .info-teacher.well.pull-left
      .pull-left
        %strong.name
          = @teacher.full_name
        .birthday
          %span= "Classroom:"
          %span= @teacher.classroom
        .gender
          %span= "Email:"
          %span= @teacher.email
        .phone
          %span= "Phone:"
          %span= @teacher.phone
  
%div{:style=>"margin-top: 10px;"}= link_to 'Add Student', new_admin_student_path+"?teacher=#{@teacher.id}", :class => 'btn'
.teacher.pull-left
  - unless @students.blank?
    - @students.each do |student|
      - student_home_url = admin_student_path(student)
      .student-container.clearfix
        .avatar-container.well
          %a{:href => student_home_url}
            - unless student.photo_url.blank?
              = image_tag(student.photo_url, :class => "student-avatar")
            - else
              .default-avatar

        .info.well
          %strong.name
            = link_to(student.full_name, student_home_url)

          .birthday
            %span= "Born on:"
            %span= student.birthday_string
          .gender
            %span= "Gender:"
            %span= student.gender_string
  = render_pagination @students
.show-other-students.pull-right
  - unless @sharing_students.empty?
    %div View sharing students 
    - @sharing_students.each do |student|
      .student-container.clearfix
        .avatar-container.well
          - unless student.photo_url.blank?
            = image_tag(student.photo_url, :class => "student-avatar")
          - else
            .default-avatar
        .info.well.pull-left
          .pull-left
            %strong.name
              = link_to(student.full_name, admin_student_path(student))
            .birthday
              %span= "Born on:"
              %span= student.birthday_string
            .gender
              %span= "Gender:"
              %span= student.gender_string
