.show-student
  .one-student.clearfix
    .avatar-container.thumbnail
      = image_tag(@student.photo_url, :class => "student-avatar")
      
    .info.well.pull-left
      .pull-left
        %strong.name
          = @student.full_name
        .birthday
          %span= t("common.born_on_label")
          %span= @student.birthday_string
        .gender
          %span= t("common.gender_label")
          %span= @student.gender_string
        .goal
          %span= t("student.goal_label")
          - if @student.goals.length <= 0
            %span= t("student.no_goal")
          - else
            %span= @student.goals.length
    - if (!@user.is?(:parent))
      .action-link-container.pull-right
        .clearfix.action-link
          = link_to("", url_for(:controller => "students", :action => 'edit', 
                :id => @student.id, :user_id => @user.id, :admin_id => @admin), :class => "icon-pencil color-pen")
        .clearfix.action-link
          = link_to t("student.invitation_anchor"), "#", :id => "goto-users"

  = hidden_field_tag "student_id", params[:id]
  = hidden_field_tag "user_id", params[:user_id]
  = hidden_field_tag "admin_id", params[:admin_id]

- unless @goals.empty?
  .pull-right
    = link_to t("common.export"), "#", :id => "export-button", :class => "btn export", "data-toggle" => "modal"
  .clearfix
  %center.clearfix
    = hidden_field_tag "check_is_add_grade", @data.empty?
    %iframe{:frameborder => "0", :height => @height, 
            :src => url_for(student_chart_charts_path(:student_id => @student, 
                                                      :user_id => @user, 
                                                      :admin_id => @admin)),
            :width => @width, 
            :id => "chart"}

.show-student
  .grade
    #render_add_grade
    - if @goals.size > 0
      .pull-right= link_to t("grade.add"), new_grade_goals_path(:student_id => params[:id], :user_id => @user, :admin_id => @admin), :remote => true, :class => "btn", :id => "add-grade"
      - if !@user.is?(:parent)
        .pull-right= link_to(t("grade.import.title"), initial_import_grades_goals_path(:student_id => params[:id], :user_id => @user, :admin_id => @admin), 
                              :remote => true, :class => "btn", :id => "import-grade")
    .clearfix
    .line
    #content-grade.clearfix
      = render "shared/students/view_goal", :goals => @goals, :student => @student
    #new-goal-container
  .separator.brown
    
  .users.student-users
    - if (!@user.is?(:parent))
      .action-container
        = link_to(" " + t("invitation.new_title"), new_invitation_path(:user_id => @user, :admin_id => @admin, :student_id => params[:id]), 
                  :remote => true, :class => "icon-plus-sign add invite-user")

    -# Place holder for invitation form
    #render_invite_user.modal.hide.fade{"data-backdrop" => "static"}
      
    #content-users
      = render( :partial => "shared/students/view_invited_user", 
                :locals => {:invited_users => @invited_users, 
                            :read_only => @user.is?(:parent), :student_id => params[:id]})

  = render "export", :all_students => @all_students
