#export-dialog.modal.hide.fade{:tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Export
  = form_tag('/export/relay', :method => :get) do
    .modal-body
      %table
        %tr
          %td
            = label_tag "Export data for"
          %td
            .checkbox-group
              = radio_button_tag "data", "individual", true, :class => "export_data_selector"
              = label_tag :data_individual, "Individual Student"
            - if (!@user.is?(:parent))
              .checkbox-group.margin-left
                = radio_button_tag "data", "classroom", false, :class => "export_data_selector"
                = label_tag :data_classroom, "Classroom"
                = hidden_field_tag "teacher_id", @user.id
        %tr
          %td
            = Student
          %td
            - seleted_id = (@student ? @student.id : nil)
            = select_tag("student_selection", options_from_collection_for_select(all_students, "id", "full_name", seleted_id), :name => :student_id)
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
      %button.btn.btn-primary Export
