#export-dialog.modal.hide.fade{:tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Export Status
  .modal-body
    %table
      %tr
        %td
          = label_tag "Export data for"
        %td
          = radio_button_tag "data", "individual", true
          Individual Student
          = radio_button_tag "data", "classroom"
          Classroom
      %tr
        %td
          = Student
        %td
          = select_tag "student_selection", "<option>Tran Danh</option><option>Pham Thu</option>".html_safe
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
    %button.btn.btn-primary.not-implemented Export
