#export-dialog.modal.hide.fade{:tabindex => "-1", "data-backdrop" => "static"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3= t("common.export")
  = form_tag('/export/relay', :method => :get) do
    .modal-body
      = hidden_field_tag "user_id", @user.id
      %table
        %tr
          %td
            = label_tag t("export.export_data")
          %td
            .checkbox-group
              = radio_button_tag "data", "individual", true, :class => "export_data_selector"
              = label_tag :data_individual, t("export.individual_student")
            - if (!@user.is?(:parent))
              .checkbox-group.margin-left
                = radio_button_tag "data", "classroom", false, :class => "export_data_selector"
                = label_tag :data_classroom, t("export.classroom")                
        %tr
          %td
            = t("export.student")
          %td
            - seleted_id = (@student ? @student.id : nil)
            = select_tag("student_selection", options_from_collection_for_select(all_students, "id", "full_name", seleted_id), :name => :student_id)
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"}= t("common.cancel")
      %button.btn.btn-primary= t("common.export")
