
- goals.each do |goal|
  .cont
    .width-subject.pull-left
      %a{:href=>"#goal_#{goal.id}", "data-toggle" =>"tab", "data-dismiss"=>"div", :class => "icon-plus goal"}= " " + goal.subject.name + " " + goal.curriculum.name
    .width-subject.pull-left= goal.accuracy.to_s + "% by " + goal.due_date.strftime("%m/%Y")
    .pull-left.progress.progress-success
      .bar{:style => "width: #{goal.accuracy}%"}
    .clearfix
    .tab-content
      .details_goal.tab-pane{:id => "goal_#{goal.id}"}
        .clearfix
        .introduce
          When verbally told a number (any numeral up to 100), will write the numeral or use cards with numbers on them to display the correct numeral with 80% accuracy on 9 out of 10 trial days as measured by data.
        %center
          - goal.statuses.each do |status|
            %div= status.accuracy.to_s + "% by " + status.due_date.strftime("%m/%Y")
          
