%h3 Editing student

%center= render 'form'
.clearfix
.invited-user 
  = link_to " Add a goal", "#", :class => "icon-plus-sign"
  = render "view_goal"
.invited-user.model
  = link_to " Add a user", "#", :class => "icon-plus-sign"
  = render "view_invited_user", :invited_users => @invited_users
