%h3 Editing student

%center= render 'form'
.clearfix
.invited-user.status 
  = link_to(" Add a goal", "#", :class => "icon-plus-sign", :id => "add-goal")
  = render(:partial => "view_goal", :locals => {:goals => @student.goals})
  = render(:partial => "goals/form", :locals => {:student => @student})
.invited-user.model
  = link_to " Add a user", "#", :class => "icon-plus-sign"
  = render "view_invited_user", :invited_users => @student.sharing
