.student
  %h3 Editing student
  #error_edit_student
  #render_invite_user
  %center= render 'shared/students/form'
  .clearfix
  .goal-section.grade    
    .tabbable      
      .grade.goal-container
        = link_to(" Add a goal", new_goal_path(:student_id => @student.id), :remote => true,
                    :class => "icon-plus-sign", :id => "add-goal")
        #content-grade.clearfix
          = render(:partial => "shared/students/view_goal", :locals => {:goals => @goals, :student => @student})
    #new-goal-container
      = render(:partial => "goals/form", :locals => {:student => @student})
  .invited-user
    .tabbable      
      .grade
        = link_to " Add a user", new_invitation_path(:user_id => @user.id), :remote => true, :class => "icon-plus-sign add"
        = render "shared/students/view_invited_user", :invited_users => @student.sharings
        
