- content_for :head do
  = javascript_include_tag('students.js')

.admin.teacher
  - if @current_user.is?(:admin)
    - @teacher = @user
    .show-student
      .clearfix.toolbar
        = link_to "All Teachers", admin_teachers_path, :class => "brown font18"
        = render 'shared/search_box', :action => "/admin/teachers/search", :placeholder => "Search name"
      = render('/shared/teachers/teacher_box')
.teacher
  .clearfix.toolbar
    = link_to "View all students", all_students_students_path(:user_id => @user.id),  :class => "brown font18"
    - if (!@current_user.is?(:parent))
      = link_to 'Add Student', new_student_path(:back_link => students_path(:user_id => @user.id), :user_id => @user.id), :class => 'btn bg-brown white pull-right'
  - unless @students.blank?
    #pagination_area
      = render('shared/students/list', :current_page => @current_page, :students => @students, :user => @user)
  
  %center.clearfix
  .pull-right
    - unless @all_students.blank?
      = link_to "Export", "#", :id => "export-button", :class => "btn export", "data-toggle" => "modal"
  %center.clearfix
    - page = params[:page_id] || 1
    %iframe{:frameborder => "0", :height => @height, :src => "/charts/user_chart?user_id=#{@user.id}", :width => @width}
  
= render "export", :all_students => @all_students
