.teacher
  .clearfix.toolbar
    = link_to "View all students", all_students_students_path,  :class => "brown font18"
    - if (!@current_user.is?(:parent))
      = link_to 'Add Student', new_student_path(:back_link => "/teachers"), :class => 'btn bg-brown white pull-right'
  - unless @students.blank?
    #pagination_area
      = render(:partial => 'students_list')    
  
  %center.clearfix
  .pull-right
    - unless @students.blank?
      = link_to "Export", "#", :id => "export-button", :class => "btn export", "data-toggle" => "modal"
  %center.clearfix
    - page = params[:page_id] || 1
    %iframe{:frameborder => "0", :height => @height, :src => "/charts/user_chart?user_id=#{@user.id}", :width => @width}
  
= render "export"
