- unless @goals.empty?
  .pull-right
    = link_to "Export", "#", :id => "export-button", :class => "btn export", "data-toggle" => "modal"
  .clearfix
  %center.clearfix
    %iframe{:frameborder => "0", :height => "500", :src => "/students/"+ params[:id] + "/common_chart", :width => "80%", :id => "chart"}
  = hidden_field_tag "iframe_src", "/students/"+ params[:id] + "/common_chart?"

.show-student
  = link_to "All students", teachers_path,  :class => "brown"
  = hidden_field_tag "tab", session[:tab]
  .one-student.clearfix
    .avatar-container.thumbnail
      - unless @student.photo_url.blank?
        = image_tag(@student.photo_url, :class => "student-avatar")
      - else
        .default-avatar
    .info.well.pull-left
      .pull-left
        %strong.name
          = link_to @student.full_name, student_path(@student),  :class => "brown"
        .birthday
          %span= "Born on:"
          %span= @student.birthday_string
        .gender
          %span= "Gender:"
          %span= @student.gender_string
        .goal
          %span= "Goals:"
          - if @student.goals.length <= 0
            %span= "no goal"
          - else
            %span= @student.goals.length

    .action-link-container.pull-right
      .clearfix.action-link
        = link_to "Edit", edit_student_path(@student)
      .clearfix.action-link
        = link_to "Users", "#", :id => "goto-users"

  = hidden_field_tag "student_id", params[:id]
  
  .status
    #render_add_status      
    - if @goals.size > 0
      .pull-right= link_to " Add status", new_status_goals_path, :remote => true, :class => "btn", :id => "add-status"
    .clearfix
    .line
    #content-status.clearfix
      = render "view_goal", :goals => @goals
  
  .separator.brown

  .users.student-users
    .action-container
      = link_to " Invite a user", new_invitation_path, :remote => true, :class => "icon-plus-sign add"

    #render_invite_user
    #content-users
      = render :partial => "view_invited_user", :locals => {:invited_users => @invited_users}

  = render "export"

.show-other-students
  - unless @students.empty?
    .title.orange Other Students 
    - @students.each do |student|
      - student_home_url = student_path(student)
      .each.pull-left
        .avatar-container.thumbnail
          %center.avatar-wrapper
            %a.avatar-link{:href => student_home_url}
              = image_tag(student.photo_url(:medium), :class => "student-avatar")
          .info.link{:href => student_home_url}
            %strong.name
              = link_to student.full_name, student_path(student), :class => "brown"
            .birthday
              %span= "Born on:"
              %span= student.birthday_string
            .gender
              %span= "Gender:"
              %span= student.gender_string
            .goal
              %span= "Goals:"
              - if student.goals.length <= 0
                %span= "no goal"
              - else
                %span= student.goals.length

