- content_for(:head) do
  = javascript_include_tag('students.js')

.admin.teacher
  - if @current_user.is?(:admin) || @current_user.is_super_admin?
    - @teacher = @user
    .show-student
      .clearfix.toolbar
        = link_to "All Teachers", admin_teachers_path(:user_id => @user.parent), :class => "brown font18"
        = render 'shared/search_box', :action => "/admin/teachers/search", :placeholder => "Search name"
      = render('/admin/teachers/teacher_box')
.show-student
  - text = "All students"
  - if @current_user.is?(:admin) || @current_user.is_super_admin?
    - text = "All #{@user.full_name}'s Students"
  = link_to text, students_path(:user_id => @user.id),  :class => "brown font18"
= render('details', :back_link => "/students/#{@student.id}?user_id=#{@user.id}")

