- if params[:related]
  .show-student
    = link_to "All Teachers", admin_teachers_path
    - cl = @teachers.count > 3 ? 'multi' : 'single'
    .student-container.border-teacher.clearfix{:class => "align-border-#{cl}"}
      - @teachers.each do |teacher|
        .avatar-container.well
          - unless teacher.photo_url.blank?
            = image_tag(teacher.photo_url, :class => "default-avatar-teacher")
          - else
            .default-avatar-teacher
        .info-invited-teacher.well.pull-left
          .pull-left
            %strong.name
              = teacher.full_name
            .birthday
              %div.pull-left= "Classroom:"
              .wordwrap.pull-right= teacher.classroom
              .clearfix
            .gender
              %div.pull-left= "Email:"
              .pull-right.wordwrap{:title => teacher.email}= truncate(teacher.email, :length => 30)
              .clearfix
            .phone
              %div.pull-left= "Phone:"
              .wordwrap.pull-right= teacher.phone
              .clearfix
      - if @teachers.count > 3
        .see-users-link.pull-right= link_to "See all StudentName's teachers", "#", :id => "show_user"

.show-student.pull-left
  - if params[:related]
    .top-align= link_to "All Teacher #{@teacher.full_name}'s Students", admin_teacher_path(@teacher)
  -else 
    = link_to "All students", teachers_path
  = hidden_field_tag "tab", session[:tab]
  .student-container.clearfix
    .avatar-container.well
      - unless @student.photo_url.blank?
        = image_tag(@student.photo_url, :class => "student-avatar")
      - else
        .default-avatar
    .info.well.pull-left
      .pull-left
        %strong.name
          = link_to(@student.full_name, student_path(@student))
        .birthday
          %span= "Born on:"
          %span= @student.birthday_string
        .gender
          %span= "Gender:"
          %span= @student.gender_string
      .edit.pull-right
        %span= link_to "Edit", edit_student_path(@student)
  = hidden_field_tag "student_id", params[:id]
  .tabbable
    %ul.nav.nav-tabs
      %li#status.active
        = link_to "Status", "#"
      %li#users
        = link_to "Users", "#"
    .users.hide
      = link_to " Add a user", new_invitation_path, :remote => true, :class => "icon-plus-sign add"
      #render_invite_user
      #content-users
    .status
      .pull-left= link_to " Add a status", "#", :class => "icon-plus-sign add"
      .pull-right= link_to "Export Progress", "#", :class => "btn export"
      .clearfix
      %div{:style=>"border-top: 2px solid #ddd; margin: 10px 0"}
      #content-status
        = render "view_goal", :goals => @student.goals
.show-other-students.pull-left
  - unless @students.empty?
    %div View other students 
    - @students.each do |student|
      .student-container.clearfix
        .avatar-container.well
          - unless student.photo_url.blank?
            = image_tag(student.photo_url, :class => "student-avatar")
          - else
            .default-avatar
        .info.well.pull-left
          .pull-left
            %strong.name
              = link_to(student.full_name, student_path(student))
            .birthday
              %span= "Born on:"
              %span= student.birthday_string
            .gender
              %span= "Gender:"
              %span= student.gender_string
            
            
            

  
  

