.show-student.pull-left
  = link_to "All students", teachers_path
  = hidden_field_tag "tab", session[:tab]
  .student-container.clearfix
    .avatar-container.well
      - unless @student.photo_url.blank?
        = image_tag(@student.photo_url, :class => "student-avatar")
      - else
        .default-avatar
    .info.well.pull-left
      .pull-left
        %strong.name
          = link_to(@student.full_name, student_path(@student))
        .birthday
          %span= "Born on:"
          %span= @student.birthday_string
        .gender
          %span= "Gender:"
          %span= @student.gender_string
      .edit.pull-right
        %span= link_to "Edit", edit_student_path(@student)
  = hidden_field_tag "student_id", params[:id]
  .tabbable
    %ul.nav.nav-tabs
      %li#status.active
        = link_to "Status", "#"
      %li#users
        = link_to "Users", "#"
    .users.hide
      = link_to " Add a user", new_invitation_path, :remote => true, :class => "icon-plus-sign add"
      #render_invite_user
      #content-users
    .status
      .pull-left= link_to " Add a status", new_status_goals_path, :remote => true, :class => "icon-plus-sign add"
      #render_add_status
      .pull-right= link_to "Export Progress", "#", :class => "btn export"
      .clearfix
      %div{:style=>"border-top: 2px solid #ddd; margin: 10px 0"}
      #content-status
        = render "view_goal", :goals => @student.goals
.show-other-students.pull-left
  - unless @students.empty?
    %div View other students 
    - @students.each do |student|
      .student-container.clearfix
        .avatar-container.well
          - unless student.photo_url.blank?
            = image_tag(student.photo_url, :class => "student-avatar")
          - else
            .default-avatar
        .info.well.pull-left
          .pull-left
            %strong.name
              = link_to(student.full_name, student_path(student))
            .birthday
              %span= "Born on:"
              %span= student.birthday_string
            .gender
              %span= "Gender:"
              %span= student.gender_string
            
            
            

  
  

