- if params[:related]
  .show-student
    .clearfix.toolbar
      = link_to "All Teachers", admin_teachers_path
      = render('admin/teachers/search_box')
    - cl = @teachers.count > 3 ? 'multi' : 'single'
    .student-container.border-teacher.clearfix{:class => "align-border-#{cl}"}
      - @teachers.slice(0,3).each do |teacher|
        .avatar-container.thumbnail
          - unless teacher.photo_url.blank?
            = image_tag(teacher.photo_url, :class => "default-avatar-teacher")
          - else
            .default-avatar-teacher
        .info-invited-teacher.well.pull-left
          .pull-left
            %strong.name
              = link_to teacher.full_name, admin_teacher_path(teacher)
            .birthday
              %div.pull-left= "Classroom:"
              .wordwrap.pull-left= teacher.classroom
              .clearfix
            .gender
              %div.pull-left= "Email:"
              .pull-left.wordwrap{:title => teacher.email}= truncate(teacher.email, :length => 30)
              .clearfix
            .phone
              %div.pull-left= "Phone:"
              .wordwrap.pull-left= teacher.phone
              .clearfix
      - if @teachers.count > 3
        .see-users-link.pull-right= link_to "See all StudentName's teachers", "#", :id => "show_user"

.clearfix.toolbar      
  - if params[:related]
    .top-align= link_to "All #{@teacher.full_name}'s Students", admin_teacher_path(@teacher)
  -else 
    = link_to "All students", teachers_path
    = render('admin/teachers/search_box')

.show-student.pull-left
  = hidden_field_tag "tab", session[:tab]
  .one-student.clearfix
    .avatar-container.thumbnail
      - unless @student.photo_url.blank?
        = image_tag(@student.photo_url, :class => "student-avatar")
      - else
        .default-avatar
    .info.well.pull-left
      .pull-left
        %strong.name
          = link_to(@student.full_name, admin_student_path(@student))
        .birthday
          %span= "Born on:"
          %span= @student.birthday_string
        .gender
          %span= "Gender:"
          %span= @student.gender_string
        .goal
          %span= "Goals:"
          - if @student.goals.length <= 0
            %span= "no goal"
          - else
            %span= @student.goals.length

      .edit.pull-right
        %span= link_to "Edit", edit_admin_student_path(@student)
  
  = hidden_field_tag "student_id", params[:id]
.clearfix
- unless @goals.empty?
  .pull-right
    = link_to "Export", "#", :id => "export-button", :class => "btn export", "data-toggle" => "modal"
  .clearfix
  %center.clearfix
    = hidden_field_tag "check_is_add_grade", @data.empty?
    %iframe{:frameborder => "0", :height => @height, :src => "/admin/students/"+ params[:id] + "/common_chart", :width => @width, :id => "chart"}
  = hidden_field_tag "iframe_src", "/admin/students/"+ params[:id] + "/common_chart?"

.show-student
  .status
    #render_add_status
    - if @goals.size > 0
      .pull-right= link_to " Add Grade", new_status_goals_path, :remote => true, :class => "btn", :id => "add-status"
      .pull-right= link_to " Import Grades", initial_import_grades_goals_path, :remote => true, :class => "btn", :id => "import-grade"
    .clearfix
    .line
    #content-status.clearfix
      = render "view_goal", :goals => @goals
  
  .separator.brown

  .users.student-users
    .action-container
      = link_to " Invite a user", new_invitation_path, :remote => true, :class => "icon-plus-sign add"

    #render_invite_user
    #content-users
      = render :partial => "view_invited_user", :locals => {:invited_users => @invited_users}

  = render "export"
  
 
.show-other-students
  - unless @students.empty?
    %div View Other Students 
    - @students.each do |student|
      .student-container.pull-left{:style=>"margin-right: 20px;"}
        .avatar-container.thumbnail{:style=>"width:153px; height:100px;"}
          - unless student.photo_url.blank?
            = image_tag(student.photo_url, :class => "student-avatar")
          - else
            .default-avatar
        .info.well.pull-left
          .pull-left
            %strong.name
              = link_to(student.full_name, admin_student_path(student))
            .birthday
              %span= "Born on:"
              %span= student.birthday_string
            .gender
              %span= "Gender:"
              %span= student.gender_string
    .clearfix
  .add-student= link_to 'Add Student', new_admin_student_path+"?teacher=#{@teacher.id}", :class => 'btn'
            
            

  
  

