.avatar-container.thumbnail
  %a{:href => url}
    = image_tag(student.photo_url, :class => "student-avatar")
.info.well
  %strong.name
    = link_to(student.full_name, url)

  .birthday
    %span= t("common.born_on_label")
    %span= student.birthday_string
  .gender
    %span= t("common.gender_label")
    %span= student.gender_string
  .goal
    %span= t("student.goal_label")
    - if student.goals.length <= 0
      %span= t("student.no_goal")
    - else
      %span= student.goals.length
- if params[:action] != "search"
  .track-indicator-container
    - status = student.check_on_track? 
    - if status == 1
      .track-indicator.pull-left{:class => "on-track", :title => t("common.on_track")}
    - elsif status == 2
      .track-indicator.pull-left{:title => t("common.not_on_track")}
