.avatar-container.thumbnail
  %a{:href => url}
    - unless student.photo_url.blank?
      = image_tag(student.photo_url, :class => "student-avatar")
    - else
      .default-avatar
.info.well
  %strong.name
    = link_to(student.full_name, url)

  .birthday
    %span= "Born on:"
    %span= student.birthday_string
  .gender
    %span= "Gender:"
    %span= student.gender_string
  .goal
    %span= "Goals:"
    - if student.goals.length <= 0
      %span= "no goal"
    - else
      %span= student.goals.length
