- with_pagination = ((with_pagination.nil? ? true : with_pagination) rescue true)

#pagination-listitem
  - students.each_with_index do |student, idx|
    - unless params[:query]
      - student_home_url = student_path(student, :user_id => user.id, :admin_id => @admin) 
    - else params[:query]
      - student_home_url = student_path(student, :user_id => student.teacher.id, :admin_id => @admin)     
    .student-container.clearfix.link{:href => student_home_url, :class => params[:query] ? "" : "pull-left"}
      = render "shared/students/cell", :student => student, :url => student_home_url 
    
      - if params[:query]
        .teachers-container
          %a{:href => "#student-teachers-#{student.id}", :class => "icon-plus student-teacher-handler"}
            = "Teachers"
          .teacher-student.hide.clearfix{:id => "student-teachers-#{student.id}"}
            - teachers = student.sponsoring_teachers.unblocked
            - teachers.each do |teacher|
              = link_to admin_teacher_path(teacher), :title => teacher.full_name, :rel => "tooltip", :class => "teacher-link" do 
                = image_tag(teacher.photo_url, 
                    :alt => teacher.full_name,
                    :class => "teacher-avatar", 
                    :id => "student-teacher-#{student.id}-#{teacher.id}")
    - unless params[:query]
      - if (idx + 1) % 4 == 0
        .clearfix

- unless params[:query]
  - if with_pagination
    .clearfix
    .pagination-container.ajax
      = render_pagination students, :current_page => @current_page
    .loading.hide
- else
  .clearfix
  - pagination_params ||= {}
  = render_pagination(students, {:type => 'student', :current_page => @current_page}, pagination_params)
  .loading.hide
