- read_only ||= false
%table.table
  %tbody.width-users
    - invited_users.each do |invited_user|
      %tr{:id => "invitation-#{invited_user.id}"}
        - if invited_user.is_a?(User) 
          - info = invited_user
        - else
          - info = invited_user.user || invited_user
        %td.width-name= info.full_name
        %td.width-email= info.email
        %td.width-role= info.role.name
        %td.width-action
          -# if !read_only
          - if !invited_user.is_a?(User) 
            =# link_to("", edit_invitation_path(user, :user_id => @user, :admin_id => @admin, :student_id => student_id), :class => "icon-pencil color-pen", :method => :get, :remote => true, :title => t("common.edit"))
            = link_to("", invitation_path(invited_user, :user_id => @user, :admin_id => @admin, :student_id => @student), 
                    :data => { :confirm => t("common.confirm_message") }, 
                    :class => "icon-trash color-pen", :method => :delete, 
                      :remote => true, :title => t("common.delete"))
          - else
            (Main Teacher)
