- read_only ||= false
%table.table
  %tbody.width-users
    - invited_users.each do |user|
      %tr{:id => "invitation-#{user.id}"}
        %td.width-name= user.full_name
        %td.width-email= user.email
        %td.width-role= user.role.name
        %td.width-action
          - if !read_only
            = link_to("", edit_invitation_path(user, :user_id => @user, :admin_id => @admin), 
                      :class => "icon-pencil color-pen", :method => :get, 
                      :remote => true, :title => t("common.edit"))
            = link_to("", invitation_path(user, :user_id => @user, :admin_id => @admin), 
                      :data => { :confirm => t("common.confirm_message") }, 
                      :class => "icon-trash color-pen", :method => :delete, 
                      :remote => true, :title => t("common.delete"))
