- read_only ||= false
%table.table
  %tbody.width-users
    - invited_users.each do |invited_user|
      %tr{:id => "invitation-#{invited_user.id}"}
        - if invited_user.is_a?(User) 
          - info = invited_user
        - else
          - info = invited_user.user || invited_user
        %td.width-name= info.full_name
        %td.width-email= mail_to info.email
        %td.width-role= info.role.name
        %td.width-action
          - if !@user.is?(:parent)
            - if !invited_user.is_a?(User)  
              = link_to("", 
                  invitation_path(invited_user, :user_id => @user, :admin_id => @admin, :student_id => @student), 
                  :data => { :confirm => t("common.confirm_message") }, 
                  :class => "icon-trash color-pen", :method => :delete, 
                  :remote => true,
                  :title => t("common.delete"))
            - elsif !invited_user.is?(:parent)
              (#{t("student.main_teacher")}) 
          - elsif invited_user.is_a?(User)
            - unless invited_user.is?(:parent) 
              (#{t("student.main_teacher")})
    
    - admin = current_student_admin
    %tr{:id => "admin-#{admin.id}"}
      %td.width-name= admin.full_name
      %td.width-email= mail_to admin.email
      %td.width-role= admin.role.name
      %td.width-action
