.center-form
  %h4.brown= t("devise.password.forgot_password_title")
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }, :validate => true) do |f|
    - if notification = f.error_notification
      .alert.alert-error.fade.in
        %a{:class => "close", 'data-dismiss' => "alert", :href => "#"} &times;
        = notification
    .form-inputs
      = f.input :email, :required => true
    .form-actions
      = f.button :submit, t("devise.password.send_reset_password"), :class => 'btn btn-primary'
      Or
      = render "devise/shared/links"
