- if !grades.empty?
  #grade-flash
    - if notice
      %div{:class => "alert alert-success fade in", 'data-alert' => "alert"}
        %a{:class => "close", 'data-dismiss' => 'alert', :href => "#"} &times;
        = notice

    - if alert
      %div{:class => "alert alert-error fade in", 'data-alert' => "alert"}
        %a{:class => "close", 'data-dismiss' => "alert", :href => "#"} &times;
        = alert
  %table.table.table-striped
    %thead
      %tr
        %th.date{:width => '10%'}= t("grade.date") 
        %th.score{:width => '10%'}= t("grade.score")
        %th.time{:width => '10%'}= t("grade.time")
        %th.note{:width => '35%'}= t("grade.note")
        %th.user{:width => '15%'}= t("grade.user")
        %th{:width => '5%'}
    %tbody
      - grades.each do |grade|
        %tr 
          %td.date= grade.due_date.strftime("%m/%d/%y") rescue ""
          %td.score= ::Util.round_f(grade.accuracy).to_s+"%" rescue ""
          %td.time= grade.time_to_complete.strftime("%H:%M") rescue ""
          %td.note
            .wordbreak
              = grade.note
          %td.user= grade.user.full_name
          %td.detele_grade= link_to("", "#goal_#{grade.goal.id}", :class => "grade icon-trash color-pen", :id => "goal#{grade.goal.id}", :id_grade => "grade_#{grade.id}", :data => { :confirm => t("common.confirm_message") })
  = hidden_field_tag "page", params[:page_id] 

#grades_pages= render_pagination grades

