#invite_user.modal.hide.fade{"data-backdrop" => "static"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h4= label
  .modal-body
    = simple_form_for(@user, :url => url, :method => method, :remote => true) do |f|
      - if notification = f.error_notification
        .alert.alert-error.fade.in
          %a{:class => "close", 'data-dismiss' => "alert", :href => "#"} &times;
          = notification
      .form-inputs
        = f.input :email, :disabled=> !f.object.new_record?, :input_html => {:class => "pull-left", :data => {autocomplete_source: emails(current_user)}, :style => "width:215px;"}
        #email_error.pull-right
        %input{:type => "button", :id => "search-email", :class => "pull-left btn margin-btn", :value => "Search"}
        .clearfix
        = f.input :first_name, :disabled=> !f.object.new_record?, :input_html => {:class => "pull-left name", :style => "width:220px;"}
        #firstname_error.pull-right
        .clearfix
        = f.input :last_name, :disabled=> !f.object.new_record?, :input_html => {:class => "pull-left name", :style => "width:220px;"}
        #lastname_error.pull-right
        .clearfix
        = f.input :role_id, :collection => roles(current_user), :prompt => "Select one", :input_html => {:class => "pull-left", :style => "width:230px;"}, :disabled => @user.confirmed?
        #role_error.pull-right
        = f.hidden_field :student_id, :value => session[:student_id]
        .clearfix
      .modal-footer
        .submit-indicator.loading.hide
        %a.btn{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel
        = f.submit "Save", :class => "btn btn-primary", :id => "save-user", :disable_with => "Saving..."
        
