.student-container.border-teacher.align-border-single.clearfix.toolbar
  .avatar-container.well
    = image_tag(@teacher.photo_url, :class => "default-avatar-teacher")
    
  .info-teacher.well.pull-left
    .pull-left
      %strong.name
        = @teacher.full_name
      - if !@teacher.classroom.blank?
        .classroom
          %span= "Classroom:"
          %span= @teacher.classroom
      - if !@teacher.email.blank?
        .email
          %span= "Email:"
          %span= @teacher.email
      - if !@teacher.classroom.blank?
        .phone
          %span= "Phone:"
          %span= @teacher.phone
  
  .pull-right
    = link_to "", "#", :class => "icon-pencil color-pen", :title => "Edit", :id => "add-teacher", :style => "display:inline-block"
    - confirm = "Are you sure?"
    - if @teacher.students.count > 0
      - confirm = "This teacher have some students, do you want to delete?"
    = link_to "", {:action=>'destroy', :controller => 'admin/teachers', :id=>@teacher, :user_id => @admin, :admin_id => @admin}, :data => { :confirm => confirm }, :class => "icon-trash color-pen",  :title => "Delete" , :style => "display:inline-block", :method => :delete
