.student-container.border-teacher.align-border-single.clearfix.toolbar
  .avatar-container.well
    = image_tag(@teacher.photo_url, :class => "default-avatar-teacher")
    
  .info-teacher.well.pull-left
    .pull-left
      %strong.name
        = @teacher.full_name
      - if !@teacher.classroom.blank?
        .classroom
          %span= t("user.classroom_label")
          %span= @teacher.short_classroom(40)
      - if !@teacher.email.blank?
        .email
          %span= t("user.email_label")
          %span= mail_to @teacher.email
      - if !@teacher.phone.blank?
        .phone
          %span= t("user.phone_label")
          %span= @teacher.phone
  
  .pull-right
    = link_to("", edit_admin_teacher_path(:id => @teacher, :user_id => @teacher, :admin_id => @admin), 
              :class => "icon-pencil color-pen", :title => t("common.edit"), 
              :style => "display:inline-block", :remote => true)

-# Place holder for teacher form dialog
#new-form-teacher.modal.hide.fade{"data-backdrop" => "static"}
