.student-container.border-teacher.align-border-single.clearfix.toolbar
  .avatar-container.well
    = image_tag(@teacher.photo_url, :class => "default-avatar-teacher")
    
  .info-teacher.well.pull-left
    .pull-left
      %strong.name
        = @teacher.full_name
      .classroom
        %span= "Classroom:"
        %span= @teacher.classroom
      .email
        %span= "Email:"
        %span= @teacher.email
      .phone
        %span= "Phone:"
        %span= @teacher.phone
  
  .pull-right
    = link_to "", "#", :class => "icon-pencil color-pen", :title => "Edit", :id => "add-teacher"
    - confirm = "Are you sure?"
    - if @teacher.students.count > 0
      - confirm = "This teacher have some students, do you want to delete?"
    = link_to "", "/admin/teachers/#{@teacher.id}", :data => { :confirm => confirm }, :class => "icon-trash color-pen", :method => :delete, :title => "Delete" 
