.student-container.border-teacher.align-border-single.clearfix.toolbar
  .avatar-container.well
    = image_tag(@teacher.photo_url, :class => "default-avatar-teacher")
    
  .info-teacher.well.pull-left
    .pull-left
      %strong.name
        = @teacher.full_name
      - if !@teacher.classroom.blank?
        .classroom
          %span= t("user.classroom_label")
          %span= @teacher.short_classroom(40)
      - if !@teacher.email.blank?
        .email
          %span= t("user.email_label")
          %span= @teacher.email
      - if !@teacher.phone.blank?
        .phone
          %span= t("user.phone_label")
          %span= @teacher.phone
  
  .pull-right
    = link_to("", edit_admin_teacher_path(:id => @teacher, :user_id => @teacher, :admin_id => @admin), 
              :class => "icon-pencil color-pen", :title => t("common.edit"), 
              :style => "display:inline-block", :remote => true)
    = link_to("", { :action => 'destroy', :controller => 'admin/teachers', 
                    :id => @teacher, :user_id => @admin, :admin_id => @admin }, 
                  :data => { :confirm => t('admin.teacher.confirm_delete') }, 
                  :class => "icon-trash color-pen", :title => t("common.delete"), 
                  :style => "display:inline-block", :method => :delete )

-# Place holder for teacher form dialog
#new-form-teacher
