%div.well.box-view-as
  = t("user.view_as_title")
  %b= user.full_name + ", "
  %b= user.role.name + " at "
  %b= link_to user.school.short_name + ".", super_admin_school_path(user.school)
  %br
  = link_to t("user.back_to_super_admin"), super_admin_path
