.teacher
  .clearfix.toolbar
    = link_to 'Add Student', new_student_path, :class => 'btn bg-brown white'
  - unless @students.blank?
    - @students.each_with_index do |student, idx|
      - student_home_url = student_path(student)      
      .student-container.pull-left.clearfix
        .avatar-container.thumbnail
          %a{:href => student_home_url}
            - unless student.photo_url.blank?
              = image_tag(student.photo_url, :class => "student-avatar")
            - else
              .default-avatar

        .info.well.link{:href => student_home_url}
          %strong.name
            = link_to(student.full_name, student_home_url, :class => "brown")

          .birthday
            %span= "Born on:"
            %span= student.birthday_string
          .gender
            %span= "Gender:"
            %span= student.gender_string
            .pull-right
              - is_track = 1
              - student.goals.each do |goal|
                - if !goal.on_track?
                  - is_track = 0
              - if is_track == 1
                .track-indicator.pull-left{:class => "on-track", :title => "On-track"}
              - else
                .track-indicator.pull-left{:title => "Not on-track"}
          .goal
            %span= "Goals:"
            - if student.goals.length <= 0
              %span= "no goal"
            - else
              %span= student.goals.length
      - if (idx + 1) % 3 == 0
        .clearfix
  
    = render_pagination @students

  
  %center.clearfix
  .pull-right
    - unless @students.blank?
      = link_to "Export", "#", :id => "export-button", :class => "btn export", "data-toggle" => "modal"
  %center.clearfix
    - page = params[:page_id] || 1
    %iframe{:frameborder => "0", :height => @height, :src => "/teachers/show_charts?page_id="+page.to_s, :width => @width, :id => "chart_student"}
  .show-other-students
    - unless @sharing_students.empty?
      %h4.brown Sharing students 
      - @sharing_students.each do |student|
        - student_home_url = student_path(student)
        .student-container.clearfix
          .avatar-container.thumbnail
            %a{:href => student_home_url}
              = image_tag(student.photo_url(:medium), :class => "student-avatar")
          .info.well.pull-left.link{:href => student_home_url}
            .pull-left
              %strong.name
                = link_to(student.full_name, student_home_url)
              .birthday
                %span= "Born on:"
                %span= student.birthday_string
              .gender
                %span= "Gender:"
                %span= student.gender_string
              .goal
                %span= "Goals:"
                - if student.goals.length <= 0
                  %span= "no goal"
                - else
                  %span= student.goals.length


  
= render "export"
