= link_to 'Add Student', new_student_path, :class => 'btn'

.teacher
  - unless @students.blank?
    - @students.each do |student|
      - student_home_url = student_path(student)
      .student-container.clearfix
        .avatar-container.well
          %a{:href => student_home_url}
            - unless student.photo_url.blank?
              = image_tag(student.photo_url, :class => "student-avatar")
            - else
              .default-avatar

        .info.well
          %strong.name
            = link_to(student.full_name, student_home_url)

          .birthday
            %span= "Born on:"
            %span= student.birthday_string
          .gender
            %span= "Gender:"
            %span= student.gender_string

    = render_pagination @students

