.teacher
  .clearfix.toolbar
    = link_to 'Add Student', new_student_path, :class => 'btn bg-brown white'
  - unless @students.blank?
    - @students.each do |student|
      - student_home_url = student_path(student)
      .student-container.clearfix
        .avatar-container.thumbnail
          %a{:href => student_home_url}
            - unless student.photo_url.blank?
              = image_tag(student.photo_url, :class => "student-avatar")
            - else
              .default-avatar

        .info.well.link{:href => student_home_url}
          %strong.name
            = link_to(student.full_name, student_home_url, :class => "brown")

          .birthday
            %span= "Born on:"
            %span= student.birthday_string
          .gender
            %span= "Gender:"
            %span= student.gender_string

    = render_pagination @students

  .show-other-students
    - unless @sharing_students.empty?
      %h4.brown Sharing students 
      - @sharing_students.each do |student|
        - student_home_url = student_path(student)
        .student-container.clearfix
          .avatar-container.thumbnail
            %a{:href => student_home_url}
              - unless student.photo_url.blank?
                = image_tag(student.photo_url, :class => "student-avatar")
              - else
                .default-avatar
          .info.well.pull-left.link{:href => student_home_url}
            .pull-left
              %strong.name
                = link_to(student.full_name, student_home_url)
              .birthday
                %span= "Born on:"
                %span= student.birthday_string
              .gender
                %span= "Gender:"
                %span= student.gender_string
