.teacher
  .clearfix.toolbar
    = link_to "View all students", all_students_teachers_path,  :class => "brown font18"
    = link_to 'Add Student', new_student_path, :class => 'btn bg-brown white pull-right'
  - unless @students.blank?
    #pagination_area
      = render(:partial => 'students_list')
    
  
  %center.clearfix
  .pull-right
    - unless @students.blank?
      = link_to "Export", "#", :id => "export-button", :class => "btn export", "data-toggle" => "modal"
  %center.clearfix
    - page = params[:page_id] || 1
    %iframe{:frameborder => "0", :height => @height, :src => "/teachers/show_charts", :width => @width, :id => "chart_student"}
  .show-other-students
    - unless @sharing_students.empty?
      %h4.brown Sharing students 
      - @sharing_students.each do |student|
        - student_home_url = student_path(student)
        .student-container.clearfix
          .avatar-container.thumbnail
            %a{:href => student_home_url}
              = image_tag(student.photo_url(:medium), :class => "student-avatar")
          .info.well.pull-left.link{:href => student_home_url}
            .pull-left
              %strong.name
                = link_to(student.full_name, student_home_url)
              .birthday
                %span= "Born on:"
                %span= student.birthday_string
              .gender
                %span= "Gender:"
                %span= student.gender_string
              .goal
                %span= "Goals:"
                - if student.goals.length <= 0
                  %span= "no goal"
                - else
                  %span= student.goals.length
  
= render "export"
