#main-content
  #login-form
    #login-form-top-left-egde
      = image_tag("login-form-top-left-egde.png", :width => "457", :height => "21", :alt => "")
    #login-form-right-egde
      = image_tag("login-form-right-egde.png", :width => "21", :height => "474", :alt => "")
    #login-form-left-egde
      = image_tag("login-form-left-egde.png", :width => "19", :height => "433", :alt => "")
    #login-form-main
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        #logo-login
          = image_tag("logo.png", :width => "295", :height => "46", :alt => "")
        .font20.bold.white.padding-top20.height10
          Sign in with your account
        %ul.clearfix{:id => "login-input-list"}
          %li
            - if notification = flash[:alert]
              .alert.alert-error.fade.in
                %a{:class => "close", 'data-dismiss' => "alert", :href => "#"} &times;
                = notification
          %li
            = f.input :email, :required => false, :autofocus => true
          %li
            = f.input :password, :required => false
          %li.font18.brown.bold.left
            - if devise_mapping.rememberable?
              = f.input(:remember_me, :inline_label => "Remember me", :label => false, :as => :boolean, 
                        :wrapper_html => {:class => "login-remember"})

        #login-button
          %input{:type => "image", :src => "/assets/login-button.png", :width => "143", :height => "38", :border => "0", :alt => "SUBMIT!"}
        .clearfix
          = render "devise/shared/links"
    #login-form-bottom-egde
      = image_tag("login-form-bottom-egde.png", :width => "455", :height => "19", :alt => "")
