- id ||= 'goal-dialog'
-# To detect the current active step
- curriculum_class = "active"
- goal_class = ""
- error_on_curriculum = are_all_errors_on_curriculum?(goal)
- if !error_on_curriculum && !goal.errors.blank?
  - curriculum_class = ""
  - goal_class = "active"

.modal.hide.fade{:tabindex => "-1", :id => id, "data-backdrop" => "static"}
  = simple_form_for(goal, :url => url, :method => method,
               :html => {:id => "goal-form#{goal.id}", :class => "goal-form form-horizontal goal-form"}, :validate => true) do |f|
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      - if goal.new_record?
        %h4
          %span= t("goal.add")
          %span.wizard-step-indicator
            (1/2)
      - else
        %h4= t("goal.edit")
      - unless goal.new_record?
        - if goal.is_completed == true
          %div{:style=>"font-style:italic;"}= t("goal.completed_warning")
      
      %ul.nav.nav-tabs.hide.wizard-nav
        %li
          %a{:href => "#curriculum"}
        %li
          %a{:href => "#goal"}

    .tab-content.wizard-content
      .tab-pane#curriculum{:class => curriculum_class}
        -#============== Curriculum ==============
        .modal-body
          = f.simple_fields_for(:curriculum, goal.curriculum, :validate => false) do |f_cur|
            - data = curriculum_associations_for_goal(goal)
            = f_cur.association(:curriculum_core, :collection => CurriculumCore.order(:name),
                  :label => t("goal.curriculum"), :include_blank => t("common.select_prompt"),
                  :input_html => {:class => "editable-combobox reset-on-changed"})
            
            - disabled = disable_goal_curriculum_field(goal.curriculum.curriculum_core_id, goal, 'subject_id')
            - selected = selected_value_for_goal_curriculum_field(goal.curriculum.curriculum_core_id, goal, 'subject_id')
            - prev_selected = selected
            = f_cur.association(:subject, :collection => data[:subjects],
                  :label => t("curriculum.subject"), :include_blank => t("common.select_prompt"),
                  :input_html => {:class => "editable-combobox reset-on-changed"},
                  :selected => selected,
                  :disabled => disabled)
            
            - disabled = disable_goal_curriculum_field(prev_selected, goal, 'curriculum_grade_id')
            - selected = selected_value_for_goal_curriculum_field(prev_selected, goal, 'curriculum_grade_id')
            - prev_selected = selected
            = f_cur.association(:curriculum_grade, :collection => data[:curriculum_grades],
                  :label => t("curriculum.grade"), :include_blank => t("common.select_prompt"),
                  :input_html => {:class => "editable-combobox reset-on-changed"},
                  :selected => selected,
                  :disabled => disabled)

            - disabled = disable_goal_curriculum_field(prev_selected, goal, 'curriculum_area_id')
            - selected = selected_value_for_goal_curriculum_field(prev_selected, goal, 'curriculum_area_id')
            - prev_selected = selected
            = f_cur.association(:curriculum_area, :collection => data[:curriculum_areas],
                  :label => t("curriculum.area"), :include_blank => t("common.select_prompt"),
                  :input_html => {:class => "editable-combobox reset-on-changed"},
                  :selected => selected,
                  :disabled => disabled)

            - disabled = disable_goal_curriculum_field(prev_selected, goal, 'standard')
            - selected = selected_value_for_goal_curriculum_field(prev_selected, goal, 'standard')
            - prev_selected = selected
            = f_cur.input(:standard, :as => :select, :collection => data[:standards],
                  :label => t("curriculum.standard"), :include_blank => t("common.select_prompt"),
                  :input_html => {:class => "editable-combobox reset-on-changed"},
                  :selected => selected,
                  :disabled => disabled)

            .control-group.curriculum-description.virtual
              - label_class = (goal.new_record? ? "hide" : "")
              = label_tag(t("curriculum.description"), nil, :class => "control-label #{label_class}")
              .controls
                - if goal.new_record?
                  .label-value.description1.bold
                  .label-value.description2
                  .label-value.error= t("curriculum.select_prompt")
                - else
                  .label-value.description1.bold= goal.curriculum.try(:description1)
                  .label-value.description2= goal.curriculum.try(:html_description2)
                  .label-value.error
        .modal-footer
          .submit-indicator.loading.hide
          %input.btn{:value => t("common.cancel"), :type => "button", "aria-hidden" => "true", 
                      "data-dismiss" => "modal", :class => "close-dialog"}
          %input.btn.wizard-action{:value => t("common.next"), :type => "button", 
                                    "data-target" => "#goal", "aria-hidden" => "true"}

        -#============== End Curriculum. ==============
      
      .tab-pane#goal{:class => goal_class}
        -#============== Goal ==============
        .modal-body
          - if (notification = f.error_notification) && !error_on_curriculum
            .alert.alert-error.fade.in
              %a{:class => "close", 'data-dismiss' => "alert", :href => "#"} &times;
              = notification
          
          %center
            .curriculum-name-place-holder.bold= goal.curriculum.try(:full_name)

          = f.input(:due_date, :as => :string, :required => true, :input_html => {:class => "date-picker", :value => goal.due_date_string, :id => "goal_due_date#{goal.id}"})
          = f.input(:description, :input_html => {:rows => '5'}, :label => t("goal.note"))
          = f.input :is_percentage, :collection => [[true, t("goal.percentage")], [false, t("goal.objective")]],
                    :label_method => :last, :value_method => :first, as: :radio_buttons, 
                    :label => t("goal.goal_type"), :item_wrapper_class => 'inline label-width', :checked => true

          .percentage
            = f.input :accuracy, :as => :string, :label => t("goal.accuracy"), 
                      :input_html => {:id => "accuracy-#{goal.id}", :class => "float_number"}
          .objective.hide
            = f.input :goal_x, :label => t("goal.name"), :input_html => {:class => "pull-left valid_number"}
            .pull-left /
            = f.input :goal_y, :label => false, :input_html => {:class => "pull-left valid_number"}
            .clearfix
            %center= f.error :accuracy, :class => "font-error"

          = f.input(:baseline_date, :as => :string, :required => true, 
                      :input_html => {:class => "date-picker baseline-date", 
                      :value => goal.baseline_date_string, :id => "baseline_date_#{goal.id}"})
          
          .percentage
            = f.input(:baseline, :as => :string, :label => t("goal.baseline"), 
                      :input_html => {:id => "baseline-#{goal.id}", :class => "float_number"})
          .objective.hide
            = f.input :baseline_x, :label => t("goal.baseline"), 
                      :input_html => {:class => "pull-left valid_number"}
            .pull-left /
            = f.input :baseline_y, :label => false, 
                      :input_html => {:class => "pull-left valid_number"}
            .clearfix
            %center= f.error :baseline, :class => "font-error"

          .control-group.date.required{:class => (goal.errors[:trial_days_actual].blank? ? "" : "error")}
            %label.date.required.control-label{:for => "goal_baseline_date_1i"}
              %abbr{:title => "required"} *
              = t("goal.trial_days")
            .controls
              .trial-day
                = f.input_field(:trial_days_actual, :length => 5, :style => "width:50px")
                \/
                = f.input_field(:trial_days_total, :length => 5, :style => "width:50px")
              = f.error :trial_days_actual
          
          = f.hidden_field(:student_id, :value => student.id)
      
          .horizontal-bar
          
          .progress-report-container
            - goal.progresses.sort_by{|p| p.id.to_i}.each_with_index do |progress, idx|
              = f.simple_fields_for(:progresses, progress, :validate => false) do |f_progress|
                = render "progress_fields", :f => f_progress, :goal => goal, :progress => progress
              = hidden_field_tag "count_field", goal.progresses.count
            %span= link_to_add_fields t("goal.add_progress"), f, :progresses, goal, "progress"

        .modal-footer
          .submit-indicator.loading.hide
          - unless goal.new_record?
            = f.input(:is_completed, :label => t("goal.mark_completed"), 
                      :wrapper_html => {:class => "archived-input"})
            
          %input.btn{:value => t("common.cancel"), :type => "button", "aria-hidden" => "true", 
                      "data-dismiss" => "modal", :class => "close-dialog", :id => "cancel_goal_form"}
          %input.btn.wizard-action{:value => t("common.back"), :type => "button", 
                                    "data-target" => "#curriculum", "aria-hidden" => "true"} 
          = f.submit t("common.save"), :class => "btn btn-primary", :disable_with => t("common.saving")
        -#============== End Goal. ==============

:javascript
  $("##{id}").on('show', function(){
    /* var win_height = $(window).height();
    if(win_height <= $(this).height()){
    var form_max_height = win_height - 400;
    if(form_max_height <= 0)
      form_max_height = 100;
      
    $(this).find(".modal-body").css({
      "max-height": form_max_height + "px"
    }); */
  });
