#add_status.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h4 Add status 
  .modal-body
    = simple_form_for(@status, :url => add_status_goals_path,:method => :post, :remote => true) do |f|
      = f.error_notification
      .form-inputs
        = f.input :goal_id, :collection => @goals, :prompt => "Select one", :input_html => {:class => "pull-left"}
        #goal_error.pull-right
        .clearfix
        = f.input(:due_date, :as => :string, :input_html => {:class => "select-date pull-left", :value => @status.due_date_string}, :label => "Due Date")
        
        #duedate_error.pull-right
        .clearfix
        = f.input :accuracy, :label => "% Accuracy", :input_html => {:class => "pull-left"}
        #accuracy_error.pull-right
        = f.hidden_field :is_ideal, :value => false
        = f.hidden_field :user_id, :value => current_user.id
        .clearfix
      .modal-footer
        %a.btn{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel
        = f.submit "Save", :class => "btn btn-primary", :id => "save-user"
