.modal#import_grades.hide.fade
  = form_tag(import_grades_goals_path, :method => :put, :remote => true, :multipart => true, 
              :class => "grade-form") do
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h4= t("grade.import.title")
    .modal-body
      .form-inputs
        = hidden_field_tag "student_id", @student.id
        %div.input-margin
          %span= t("grade.import.student")
          %span= @student.full_name
        %div= select "goal", :id, @goals, {:prompt => t("common.select_prompt"), :class => "pull-left"}
        #goal_choose.font-error
        %div.input-margin= file_field_tag "goal[grades]"
        #file_choose.font-error
    .modal-footer
      %input.btn{:value => t("common.cancel"), :type => "button", "aria-hidden" => "true", 
                "data-dismiss" => "modal", :class => "close-dialog"}
      = submit_tag t("common.import"), :class => "btn btn-primary", :id => "import"


