%p
  = t("mail.welcome", :name => @resource.full_name)
%p
  - if @resource.is_admin_school?
    = t("mail.new_user.admin")
    %b= @resource.school.try(:name)
    = t("mail.school_end")
  - else 
    = t("mail.new_user.normal_user")
    %b= @resource.school.try(:name)
    = t("mail.school_end")
%p= t("mail.new_user.confirm_link_instruction")
%p= link_to t("mail.new_user.confirm"), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
