%p
  = t("mail.hello", :name => @resource.email)
%p= t("mail.password.reset_warning")
%p= link_to(t("devise.change_password_action"), 
            edit_password_url(@resource, :reset_password_token => @resource.reset_password_token))
%p= t("mail.password.reset_ignore")
%p= t("mail.password.reset_instruction")
