= simple_form_for([:super_admin, @school], :html => {:class => "school-form form-horizontal"}) do |f|
  = f.error_notification
  .form-actions
    %center
      - back = :back
      - if params[:back] == "schools" || f.object.new_record?
        - back = super_admin_schools_path
      = link_to "Cancel", back, :class => "btn"
      - if f.object.new_record?
        = f.button :submit, :value => "Create School"
      - else
        = f.button :submit, :value => "Save"
  - rand_pass = rand(1234567)
  .form-inputs
    .title School Info
    .school-info
      = f.input :name, :label => "School Name", :input_html => {:class => "valid_name"}
      = f.input :address1, :label => "Address"
      = f.input :address2, :label => false
      = f.input :city, :label => false, :error => false, :input_html => {:class => "pull-left", :placeholder => "city"}
      %div= f.error :city, :id => "city"
      .pull-left= state_select 'school', 'state', :show => :full
      = f.input :zipcode, :error => false, :label => false, :input_html => {:class => "valid_number pull-left", :placeholder => "zip code"}
      %div= f.error :zipcode, :id => "zipcode"
      .clearfix
      = f.input :phone, :input_html => {:class => "valid_number"}
    .line
    .title Admin Info
    .school-info
      = f.fields_for :users, @admin do |admin|
        = admin.input :first_name, :input_html => {:class => "valid_name"}
        = admin.input :last_name, :input_html => {:class => "valid_name"}
        = admin.input :email, :input_html => {:class => "valid_email"}
        - if f.object.new_record?
          / = admin.input :password, :as => :hidden, :input_html => {:value => rand_pass}
          / = admin.input :password_confirmation, :as => :hidden, :input_html => {:value => rand_pass}
          / = admin.input :temp_pass, :as => :hidden, :input_html => {:value => rand_pass}
          = admin.input :parent_id, :as => :hidden, :input_html => {:value => current_user.id}
        = admin.input :phone, :input_html => {:class => "valid_number"}
        = admin.input :notes, :input_html => {:rows => "5", :class => "width-area"}
        = admin.input :role_id, :as => :hidden, :input_html => {:value => Role.find_by_name("Admin").id}
