.super-admin.school
  = link_to "Add School", new_super_admin_school_path, :class => "btn"
  - unless @schools.empty?
    = link_to "Add User", new_super_admin_user_path(:back => "schools"), :class => "btn"
  = render '/shared/search_box', :action => "users/search_result", :placeholder => "Enter the term search"

  %table.table.table-striped.schools
    %thead
      %tr
        %th= sortable "name", "School"
        %th= sortable "last_name", "Admin"
        %th= "Teachers"
        %th= "Students"
        %th= sortable "created_at", "Joined"
    %tbody
      - @schools.each do |school|
        - admin = school.admin
        - school_data = school.statistic
        %tr
          %td= link_to truncate(school.name, :length => 17, :separator => " "), super_admin_school_path(school)
          %td= admin.full_name
          %td= school_data[:teachers_count]
          %td= school_data[:students_count]
          %td= school.created_at.strftime("%m/%d/%y")
  = render_pagination @schools
