.super-admin.school
  = link_to t("school.add"), new_super_admin_school_path, :class => "btn"
  - unless @schools.empty?
    = link_to t("school.add_user"), new_super_admin_user_path(:back => "schools"), :class => "btn"
  = link_to t("curriculum.title"), super_admin_curriculums_path, :class => "margin-left"
  = "|"
  = link_to t("subscribers.title"), super_admin_subscribers_path, :class => "margin-left"
  = render '/shared/search_box', :action => "users/search_result", :placeholder => t("common.search_place_holder")

  %table.table.table-striped.schools
    %thead
      %tr
        %th= sortable "name", t("school.label")
        %th= sortable "last_name", t("school.admin")
        %th= t("common.teachers")
        %th= t("common.students")
        %th= sortable "created_at", t("school.joined")
        %th 
    %tbody
      - @schools.each do |school|
        - admin = school.admin
        - school_data = school.statistic
        %tr
          %td= link_to school.short_name, super_admin_school_path(school)
          %td= admin.full_name
          %td= school_data[:teachers_count]
          %td= school_data[:students_count]
          %td= school.created_at.strftime("%m/%d/%y")
          %td.action
            = link_to("", [:super_admin, school], 
                    :data => { :confirm => t("common.confirm_message") }, 
                    :class => "icon-trash color-pen", :method => :delete, :title => t("common.delete"))
  = render_pagination @schools
