.super-admin.school
  %div.pull-left.show-school
    %div
      %b= @school.short_name
    %div
      = @school.address1
    %div
      = "#{@school.city}, #{@school.state} #{@school.zipcode}"
    %div
      = @school.phone
    %br
      Joined
      = @school.created_at.strftime("%m/%d/%y")
  
  %div.pull-left
    = link_to t("school.edit"), edit_super_admin_school_path(@school)
    = " | "
    = link_to t("school.back"), super_admin_schools_path
  .pull-right= render '/shared/search_box', :action => "", :placeholder => t("common.search_place_holder")
  .clearfix
  .add_user
    = link_to t("school.add_user"), new_super_admin_user_path(:back => "users", :school_id => @school.id), :class => "btn"

  %table.table.table-striped.schools
    %thead
      %tr
        %th.role= t("school.role")
        %th.name= t("school.user_name")
        %th.students= t("common.students")
        %th
        %th
        %th
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.role.name rescue ""
          %td= user.full_name rescue ""
          %td= user.accessible_students.count rescue "" if !user.is?(:admin)
          %td
            - if user.is_blocked?
              %a.icon-lock.color-pen
          %td.action
            = link_to("", edit_super_admin_user_path(user, :school_id => @school.id), 
                      :class => "icon-pencil color-pen", :title => t("common.edit"))
          - unless user.is?(:admin)
            %td.action
              = link_to("", [:super_admin, user], 
                        :data => { :confirm => t("admin.teacher.confirm_delete") },
                        :class => "icon-trash color-pen", :method => :delete, :title => t("common.delete"))
          - else 
            %td.action
          %td= link_to t("admin.view_as"), view_as_super_admin_user_path(user)
  = render_pagination @users 

