.super-admin.school
  %p#notice= notice
  %div.pull-left.show-school
    %div
      %b= truncate(@school.name, :length => 17, :separator => " ")
    %div
      = @school.address1
    %div
      = @school.city+", "+ @school.state + " " + @school.zipcode
    %div
      = @school.phone
    %br
      Joined
      = @school.created_at.strftime("%m/%d/%y")
  
  %div.pull-left
    = link_to "Edit School", edit_super_admin_school_path(@school)
    = " | "
    = link_to "Back", super_admin_schools_path
  .pull-right= render '/shared/search_box', :action => "", :placeholder => "Enter the term search"
  .clearfix
  .add_user
    = link_to "Add User", new_super_admin_user_path(:back => "users"), :class => "btn"

  %table.table.table-striped.schools
    %thead
      %tr
        %th Role
        %th Name
        %th Students
        %th
        %th
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.role.name rescue ""
          %td= user.full_name rescue ""
          %td= user.accessible_students.count rescue ""
          %td.action= link_to "", edit_super_admin_user_path(user), :class => "icon-pencil color-pen", :title => "Edit" 
          - confirm = "Are you sure?"
          - if user.students.count > 0
            - confirm = "This teacher have some students, do you to delete?"
          - unless user.is?(:admin)
            %td.action= link_to "", [:super_admin, user], :data => { :confirm => confirm }, :class => "icon-trash color-pen", :method => :delete, :title => "Delete" 
          - else 
            %td.action
          %td= link_to "view as", view_as_super_admin_user_path(user)
  = render_pagination @users 

