= simple_form_for(@user, :as => :user, :url => change_password_path, 
    :html => { :method => :post, :class => 'form-horizontal' }) do |f|
  - if notification = f.error_notification
    .alert.alert-error.fade.in
      %a{:class => "close", 'data-dismiss' => "alert", :href => "#"} &times;
      = notification        
  .form-inputs
    = f.input :current_password, :as => :password, :label => "Old password", :required => true
    = f.input :password, :as => :password, :label => "New password", :required => true
    = f.input :password_confirmation, :as => :password, :label => "Confirm password", :required => true
  .form-actions
    = f.button :submit, "Save"
    = submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger btn-cancel"
