- content_for(:page_title) do
  = t("profile.title")

.profile
  .clearfix.toolbar
    = link_to(profile_back_link_text, "/", :class => "brown font18")

  .clearfix.edit-account
    .form-horizontal.display
      .control-group
        %label.control-label.field-name= t("profile.email")
        .controls
          .label-value= @user.email
          = link_to(t("profile.change_password"), "#", :id => "change-password", :class => "form-display-handler")
      #account_password_change.change-password-container.form-container.hide
        = render(:partial => "password_form")

- content_for :js do
  = javascript_include_tag('app/profile.js')
