!!!
%html
  %head
    - if content_for?(:page_title)
      %title Educake Mobile - #{yield(:page_title)}
    - else
      %title Educake Mobile

    = stylesheet_link_tag "application.mobile", :media => "all"    
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = yield :head
    %link{:href => path_to_image('favicon.ico'), :type => "image/x-icon", :rel => "shortcut icon"}
  %body{:class => "ui-mobile-viewport ui-overlay-c ui-body-c"}
    .container#main.shadowed-box.rounded-bottom
      #banner
        .pull-right= render(:partial => "shared/user_box") if user_signed_in?
        .pull-right= link_to(t("devise.session.sign_in_action"), new_user_session_path) unless user_signed_in?
        .clearfix
        .header
          %a.logo{:href => "/"}
        #menu
      #flash
        - if notice
          %div{:class => "alert alert-success fade in", 'data-alert' => "alert"}
            %a{:class => "close", 'data-dismiss' => 'alert', :href => "#"} &times;
            = notice

        - if alert
          %div{:class => "alert alert-error fade in", 'data-alert' => "alert"}
            %a{:class => "close", 'data-dismiss' => "alert", :href => "#"} &times;
            = alert
      = yield
    .footer
      = render(:partial => "shared/version")

    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"
    = javascript_include_tag "application.mobile"
    =# javascript_include_tag "lib/mobile/jquery.mobile-1.2.0.min.js"
    = yield :js
