!!!
%html
  %head
    %title TeacherMgnt
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => path_to_image('favicon.ico'), :type => "image/x-icon", :rel => "shortcut icon"}
  %body
    .container
      #banner
        .pull-right= render(:partial => "shared/user_box") if user_signed_in?
        .clearfix
        .header
          %a.logo{:href => "/"}
        .separator

      = yield
    .footer
      = render(:partial => "shared/version")
