!!!
%html
  %head
    - if content_for?(:page_title)
      %title TeacherMgnt - #{yield(:page_title)}
    - else
      %title TeacherMgnt

    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
    %link{:href => path_to_image('favicon.ico'), :type => "image/x-icon", :rel => "shortcut icon"}
  %body
    .container#main
      #banner
        .pull-right= render(:partial => "shared/user_box") if user_signed_in?
        .pull-right= link_to(t("devise.session.sign_in_action"), new_user_session_path) unless user_signed_in?
        .clearfix
        .header
          %a.logo{:href => "/"}
        #menu
          / = render "shared/menu"
        .separator
      - if @is_view_as
        = render "shared/teachers/view_as_box", :user => @viewing_user
      #flash
        - if notice
          %div{:class => "alert alert-success fade in", 'data-alert' => "alert"}
            %a{:class => "close", 'data-dismiss' => 'alert', :href => "#"} &times;
            = notice

        - if alert
          %div{:class => "alert alert-error fade in", 'data-alert' => "alert"}
            %a{:class => "close", 'data-dismiss' => "alert", :href => "#"} &times;
            = alert
      = yield
    .footer
      = render(:partial => "shared/version")

    = yield :js
